#!/bin/sh
#

# PROVIDE: goircd
# REQUIRE: FILESYSTEMS NETWORKING

. /etc/rc.subr

name="goircd"
rcvar=goircd_enable
command="/home/goircd/goircd"
command_args="-hostname irc.example.com &"

load_rc_config $name
run_rc_command "$1"
