[Unit]
Description=goIRC daemon

[Service]
ExecStart=/usr/local/bin/goircd -logdir /var/log/goircd/
Restart=once
RestartSec=3s

[Install]
WantedBy=multi-user.target
Alias=goircd.service
